@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250; /* rgb(250, 250, 250) */
    --foreground: 0 0 0; /* rgb(0, 0, 0) */

    --input-border: 209 209 209; /* rgb(226, 232, 240) */

    --pale: 241 245 249; /* rgb(241, 245, 249) */
    --pale-foreground: 100 116 139; /* rgb(100, 116, 139) */

    --primary: 90 24 154; /* rgb(90, 24, 154) */
    --primary-foreground: 255 255 255; /* rgb(255, 255, 255) */

    --secondary: 90 24 154; /* rgb(90, 24, 154) */
    --secondary-foreground: 255 255 255; /* rgb(255, 255, 255) */

    --destructive: 148 6 6; /* rgb(148, 6, 6) */
    --destructive-foreground: 255 255 255; /* rgb(240, 240, 240) */
  }

  .dark {
    --background: 30 30 30; /* rgb(30, 30, 30) */
    --foreground: 0 0 0; /* rgb(0, 0, 0) */

    --input-border: 209 209 209; /* rgb(226, 232, 240) */

    --pale: 241 245 249; /* rgb(241, 245, 249) */
    --pale-foreground: 100 116 139; /* rgb(100, 116, 139) */

    --primary: 90 24 154; /* rgb(90, 24, 154) */
    --primary-foreground: 255 255 255; /* rgb(255, 255, 255) */

    --secondary: 90 24 154; /* rgb(90, 24, 154) */
    --secondary-foreground: 255 255 255; /* rgb(255, 255, 255) */

    --destructive: 148 6 6; /* rgb(148, 6, 6) */
    --destructive-foreground: 255 255 255; /* rgb(240, 240, 240) */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
